@charset "UTF-8";

@font-face {
    font-family: "Rajdhani";
    src: url(fonts/Rajdhani/Rajdhani-Medium.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
div.principal {
    color: rgba(219, 219, 131, 0.973);
    background-image: linear-gradient(to top,  rgba(100, 76, 31, 0.897), rgb(54, 44, 44));
    font-family: "Rajdhani", sans-serif;
    margin: auto;
    text-align: justify;
    width: 450px;
    height: 350px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
}
div.principal h1{
    margin-top: -5px;
    text-align: center;
    font-size: 2em;
}
div.principal a{
    color: rgba(243, 158, 1, 0.596);
    text-decoration: none;
}
div.principal a:hover {
    text-decoration: underline;
}
div.principal p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
    margin-left: 150px;
    margin-right: 5px;
}
div.principal img#perfil{
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    margin-left: 5px;
}
section#redes h2{
    color: rgb(44, 33, 11);
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
}
section#redes {
    margin-top: 33px;
    background-color: rgba(228, 228, 131, 0.637);
    border: 1px solid rgb(44, 33, 11);
    border-radius: 15px;
}

section#redes ul li img{
    background-color: yellow;
    border-radius: 150px;
}
section#redes ul{
    margin-top: -15px;
    color: rgb(44, 33, 11);
}
section#redes ul a {
    text-decoration: none;
    font-weight: bolder ;
    color: rgb(44, 33, 11);
}
section#redes ul a:hover {
    text-decoration: underline;
}
section#redes > a#construcao {
    position: absolute;
    max-width: 120px;
    margin-top: -135px;
    margin-left: 300px;
    display: none;
}
section#redes:hover > a#construcao{
    display: block;
}
body{
    background-color: rgb(122, 115, 100);
    margin: auto;
    padding-top: 100px;
    background-attachment: fixed;
}